# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Python.gitlab-ci.yml

# https://hub.docker.com/r/library/python/tags/

.python:
  image: ghcr.io/astral-sh/uv:python3.9-alpine
  before_script:
    - python --version
    - uv --version
    - uv sync
  variables:
    UV_LINK_MODE: copy

unittest:
  extends: .python
  stage: test
  script:
    - uv run pytest --junitxml=report.xml --cov=avacore tests/
    - uv run coverage xml
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

ruff:
  extends: .python
  stage: test
  script:
    - uv run ruff check avacore

zipapp:
  extends: .python
  stage: test
  script:
    - python -m zipapp --help
    - python -m zipfile -c pyAvaCore.pyz avacore/ __main__.py
    - python pyAvaCore.pyz --help
  artifacts:
    paths:
      - pyAvaCore.pyz

deploy:
  extends: .python
  stage: deploy
  dependencies:
    - zipapp
  before_script:
    - apk add openssl openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
  script:
    - echo put pyAvaCore.pyz | sftp -P2201 $SFTP_SERVER
  when: manual
